<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="TBCL3FantasyLeagueEntities" connectionString="metadata=res://*/TBCL3Model.csdl|res://*/TBCL3Model.ssdl|res://*/TBCL3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INIDC-PAREEKA2\SQLEXPRESS;initial catalog=TBCL3FantasyLeague;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>